body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: black;
    color: steelblue;
}

header .logo img {
    height: 70px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: lightblue;
    text-decoration: none;
    font-size: 22px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: black;
    color: lightblue;
}

.search-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    width: 250px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-bar button {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: lightblue;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.column {
    text-align: left;
}

.column h2 {
    text-transform: capitalize;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    margin: 5px 0;
}
