body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: lightblue;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav a {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #fff;
}

main {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

#profile, #enrolledCourses {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    color: lightblue;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: black;
    color: lightblue;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
